@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2f3136 !important;
    margin: 0;
    padding: 0px;
  }
  h1 {
    text-align: center;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  .section {
    margin-bottom: 20px;
  }
  .btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #ff2800;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #ff260080;
  }
  .hidden {
    display: none !important;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 10px 20px;
    background-color: #232428;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }
  .detalhes {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    display: none; 
  }
  .back-btn {
    text-align: end;
    display: block;
    margin-top: 20px;
    background-color: #6c757d00;
    color: white;
  }
  .back-btn:hover {
    background-color: #5a6268;
  }

  .rodape{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rodape img{
    margin:  0 auto;
  }
.navbar{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ffffff09;
    box-shadow: 0px 4px 34px #0000;
}

.spanNav{
    display: flex;
    flex-direction: column;
}

.pImageNav{
    display: flex;
    gap: 3px;
}

.spanNav .pImageNav{
    color: white;
    font-size: 12px;
}

.pNav{
    color: white;
    font-weight: 600;
    height: 0px;
    margin-top: -10px;
}

.sectionCenter{
    background-image: url('../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}


.sectionCenter h1{
    color: white;
    height: 0px;
    font-weight: 700;
}

.sectionCenter h2{
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.section h2{
color: white;
font-weight: 400;
font-size: 17px;
}


.displayButtons{
    display: flex;
    flex-direction: column;
}

.headeDisplay{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.buttonReturn{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 15px;
    text-align: start;
}

#filtro-input{
    margin-bottom: 10px !important;
    background-color: #4d4f537c;
    border: none;
    width: 98%;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
    outline: none;
    color: white;
}

.logotipo{
    width: 151px;
}


#lista-opcoes li{
    margin-bottom: 10px !important;
    list-style: none;
    text-transform: uppercase;
}

.descricaoDiv{
  color: rgba(255, 255, 255, 0.548);
  font-weight: 300;
}



#loading{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#loading img{
  width: 50px;
  margin-bottom: 10px;
}
